/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(4px);
  }
}

@keyframes heart-beat {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparkles-fly {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.heart .core {
  fill: var(--bg-color);
  transition: fill 0.3s linear 0.03s;
}

.heart .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.heart .contour {
  fill: var(--contour-color-heart);
  transition: fill 0.1s linear;
}

.heart {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

.heart:hover .core {
  fill: var(--contour-color-heart);
  transition: fill 0.3s linear;
}

.heart:hover .main-body {
  fill: var(--contour-color-heart);
  transition: fill 0.3s linear 0.05s;
}

.heart:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-beat 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparkles-fly 0.3s ease-in 0.3s 1 alternate;
}